server.host: "0.0.0.0"
server.port: 5601
#server.shutdownTimeout: "40s"

elasticsearch.hosts: [ "http://{{ elastic_ip }}:9200" ]
monitoring.ui.container.elasticsearch.enabled: true
xpack.security.enabled: false
