input {
  beats {
    port => 5044
  }
}

output {
  elasticsearch {
    hosts => "http://{{ elastic_ip.stdout }}:9200"
    manage_template => false
    index => "filebeat_index-%{[@metadata][version]}-%{+YYYY.MM.dd}"
    document_type => "%{[@metadata][type]}"
  }
}
